<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Insert </title>
</head>
<body>

    <div align="center">

        <h2> Data Insert </h2>

        <form method="post" action="/insert">
            상품번호 : <input type="text" size="15" name="code"/>
            상품명 : <input type="text" size="15" name="name"/>
            수량 : <input type="text" size="15" name="su"/>
            단가 : <input type="text" size="15" name="dan"/>

            <input type="submit" value="저장">
            <input type="reset" value="취소">
        </form>

    </div>

</body>
</html>