<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Update</title>
</head>
<body>

        <div align="center">

        <h2> Data Update </h2>

        <form method="post" action="/update">
            상품번호 : <input type="text" size="15" name="code"/><br>
            <!--상품명 : <input type="text" size="15" name="name"/>-->
            수량 : <input type="text" size="15" name="su"/><br>
            단가 : <input type="text" size="15" name="dan"/><br>

            <input type="submit" value="수정">
            <input type="reset" value="취소">
        </form>

    </div>

</body>
</html>