<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<div align="center">
        <form method="post" action="/search">
            <table border="1">
                <th> 사원명 입력</th>
                <th> <input type = "text" name="ename" size="30" /> </th>
                <th colspan="2">
                    <input type="submit" value="show"/>
                    <input type="reset" value="reset"/>
                </th>
            </table>
        </form>
    </div>
</body>
</html>